{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Categories</title>
    <link rel="stylesheet" href="{% static 'css/categories.css'%}">
</head>
<body>
    <header>
        <div class="home">
            <a href="sri">Home</a>
        </div>
        <h1>Music Categories</h1>
    </header>
    <main>
        <section class="categories">
            <h2>Popular Categories</h2>
            <ul>
                <li><a href="#">Friendship</a></li>
                <li><a href="#">Family</a></li>
                <li><a href="#">Love</a></li>
                <li><a href="#">Travel</a></li>
                <li><a href="#">Sad</a></li>
                <li><a href="#">Old song</a></li>
                <li><a href="#">Trending</a></li>
                <li><a href="#">Hip Hop</a></li>
                <li><a href="#">Classical</a></li>
            </ul>
        </section>
    </main>
    
</body>
</html>
